<application>

  <name>Make It Roll</name>

  <dependencies>
      <port>/icubSim/cam/left</port>
      <port>/icubSim/cam/right</port>
      <port>/icubSim/cartesianController/right_arm/state:o</port>
      <port>/iKinGazeCtrl/rpc</port>
  </dependencies>

  <!-- <module>
      <name>yarplogger</name>
      <parameters>--start</parameters>
      <node>localhost</node>
  </module> -->

  <module>
      <name>make-it-roll</name>
      <!-- <dependencies>
         <port timeout="5">/yarplogger</port>
      </dependencies>
      <environment>YARP_FORWARD_LOG_ENABLE=1</environment> -->
      <node>localhost</node>
  </module>

  <!-- Connections -->

  <connection>
        <from external="true">/icubSim/cam/left</from>
        <to>/imgL:i</to>
        <protocol>tcp</protocol>
  </connection>
  <connection>
        <from external="true">/icubSim/cam/right</from>
        <to>/imgR:i</to>
        <protocol>tcp</protocol>
  </connection>

</application>
